#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_DA1470X
comment "DA1470X Configuration Options"

choice
	prompt "DA1470X Chip Selection"
	default ARCH_CHIP_DA1470X
	depends on ARCH_CHIP_DA1470X

config ARCH_CHIP_da1470x
	bool "DA1470X"
	select da1470x_DA1470X
	select da1470x_FLASH_CONFIG_I
	select da1470x_IO_CONFIG_A
	---help---
		da1470x Cortex M33F, 2048 Kb FLASH, 1536 Kb SRAM

endchoice # da1470x Chip Selection


#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "DA1470X Configuration Options"

# DA1470 Families

choice
	prompt "DA1470X Chip Selection"
	default ARCH_CHIP_DA1470

config ARCH_CHIP_DA1470
	bool "DA1470"
	select DA1470_CPUAPP_MEM_FLASH_1024
	select DA1470_CPUAPP_MEM_RAM_320
	select DA1470_CPUSNC_MEM_FLASH_256
	select DA1470_CPUSNC_MEM_RAM_64

endchoice # NRF53 Chip Selection

config DA1470_APPCORE
	bool
	default n
	select ARM_HAVE_DSP
	select ARCH_HAVE_FPU
	select DA1470_HAVE_UART

config DA1470_SNCCORE
	bool
	default n

choice
	prompt "da1470 Core Selection"
	default ARCH_CHIP_DA1470_CPUAPP
	depends on ARCH_CHIP_DA1470

config ARCH_CHIP_DA1470_CPUAPP
	bool "da1470 App core"
	select DA1470_APPCORE

config ARCH_CHIP_DA1470_CPUSNC
	bool "da1470 Sensor Node Controller"
	select DA1470_SNCCORE

endchoice # Core Selection

# # RAM size for the app core

# config NRF53_CPUAPP_MEM_RAM_512
# 	bool
# 	default n

# config NRF53_CPUAPP_MEM_RAM_SIZE
# 	hex
# 	default 0x080000 if NRF53_CPUAPP_MEM_RAM_512

# # RAM size for the net core

# config NRF53_CPUNET_MEM_RAM_64
# 	bool
# 	default n

# config NRF53_CPUNET_MEM_RAM_SIZE
# 	hex
# 	default 0x008000 if NRF53_CPUNET_MEM_RAM_64

# # FLASH size for the app core

# config NRF53_CPUAPP_MEM_FLASH_1024
# 	bool
# 	default n

# config NRF53_CPUAPP_MEM_FLASH_SIZE
# 	hex
# 	default 0x100000 if NRF53_CPUAPP_MEM_FLASH_1024

# # FLASH size for the net core

# config NRF53_CPUNET_MEM_FLASH_256
# 	bool
# 	default n

# config NRF53_CPUNET_MEM_FLASH_SIZE
# 	hex
# 	default 0x040000 if NRF53_CPUNET_MEM_FLASH_256

# if NRF53_APPCORE

# config NRF53_NET_BOOT
# 	bool "nRF53 Net core configuration"
# 	default y

# if NRF53_NET_BOOT

# config NRF53_NET_POWER_ON_BOOT
# 	bool "nRF53 Power Net core on App core boot"
# 	default y

# config NRF53_NET_GPIO_ALLOW_ALL
# 	bool "nRF53 allow all GPIO for Net core"
# 	default y

# endif # NRF53_NET_BOOT

# endif # NRF53_APPCORE


# Peripheral support

config DA1470_HAVE_UART
	bool
	default n

config DA1470_HAVE_UART2
	bool
	default n

config DA1470_HAVE_UART3
	bool
	default n

# Peripheral Selection

config DA1470_UART
	bool
	default n

menu "da1470 Peripheral Selection"

config DA1470_UART
	bool "UART0"
	default n
	select UART_SERIALDRIVER
	select DA1470_UART

config DA1470_UART1
	bool "UART1"
	default n
	depends on DA1470_HAVE_UART1
	select UART1_SERIALDRIVER
	select DA1470_UART

config DA1470_UART2
	bool "UART2"
	default n
	depends on DA1470_HAVE_UART1
	select UART2_SERIALDRIVER
	select DA1470_UART

endmenu # da1470 Peripheral Selection


# choice
# 	prompt "System Timer Source"
# 	default NRF53_SYSTIMER_SYSTICK
# 	---help---
# 		Choose which hardware resource will drive NuttX
# 		system time

# config NRF53_SYSTIMER_SYSTICK
# 	bool "SysTick"
# 	select TIMER_ARCH
# 	select TIMER
# 	select ARMV8M_SYSTICK
# 	---help---
# 		Use ARM SysTick. It can be used for tickless and
# 		non-tickless mode.

# 		NOTE: nrf53 implementation of WFE/WFI involves is
# 		incompatible with SysTick. This means that if
# 		you choose this option, WFE/WFI will not be used
# 		in idle loop.

# config NRF53_SYSTIMER_RTC
# 	bool "RTC"
# 	select NRF53_RTC
# 	select SCHED_TICKLESS
# 	select SCHED_TICKLESS_ALARM
# 	select NRF53_USE_LFCLK
# 	---help---
# 		Use RTC timer in tickless mode.

# endchoice # System Timer Source

# if NRF53_SYSTIMER_RTC

# config NRF53_SYSTIMER_RTC_INSTANCE
# 	int "RTC timer instance"
# 	default 0 if !NRF53_SOFTDEVICE_CONTROLLER
# 	default 1 if NRF53_SOFTDEVICE_CONTROLLER
# 	range 0 1
# 	---help---
# 		Which RTC instance to use to drive the system timer

# endif # NRF53_SYSTIMER_RTC

# endmenu # System Timer

# endif # NRF53_SOFTDEVICE_CONTROLLER






menu "High Frequency Clock (HFCLK) Configuration"

config DA1470_HFCLK
    bool "Enable High Frequency Clock (HFCLK) Initialization"
    default y
    ---help---
      Enable initialization of the High Frequency Clock (HFCLK) in the DA1470 series.
      This option initializes the HFCLK crystal oscillator, switching to the external
      32 MHz oscillator if available and configured. When enabled, the system will
      wait until the external oscillator is ready before continuing.

endmenu



menu "Low Power Clock (LFCLK) Configuration"

config DA1470_USE_LFCLK
    bool "Enable Low Power Clock (LFCLK)"
    default y
    ---help---
      Enable the Low Power Clock (LFCLK) in the DA1470 series. This will allow
      the system to select and configure one of the available low-power clock
      sources: RCLP, RCX, XTAL32K, or External Clock.

if DA1470_USE_LFCLK

choice
    prompt "Select LFCLK Source"
    default CLOCK_LPCLKSRC_SRC_RCLP
    ---help---
      Select the clock source to use as the low power clock (LFCLK). The options
      include RCLP, RCX, XTAL32K, or an external clock source.

config CLOCK_LPCLKSRC_SRC_RCLP
    bool "RCLP (Internal Low Power Clock)"
    ---help---
      Select RCLP (Internal Low Power Clock) as the LFCLK source.

config CLOCK_LPCLKSRC_SRC_RCX
    bool "RCX (Internal 32kHz Clock)"
    ---help---
      Select RCX (Internal 32kHz Clock) as the LFCLK source.

config CLOCK_LPCLKSRC_SRC_XTAL32K
    bool "XTAL32K (External 32kHz Crystal)"
    ---help---
      Select XTAL32K (External 32kHz Crystal) as the LFCLK source.

config CLOCK_LPCLKSRC_SRC_EXTERNAL
    bool "External Clock"
    ---help---
      Select an external clock source as the LFCLK. This option assumes the clock
      is configured and supplied externally.

endchoice

endif # DA1470_USE_LFCLK

endmenu
